.cp__query-builder-filter {
  opacity: 0;
  margin-top: -30px; /* Apply negative margin to bring it up */
  transition: opacity 0.3s, margin-top 0.3s; /* Add transitions for smooth effect */
}

.custom-query:hover .cp__query-builder-filter {
  opacity: 1;
  margin-top: 0; /* Reset margin to its original value */
}
.custom-query-results td.whitespace-nowrap div{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50ch;
  /* white-space: pre-wrap; */
  max-height: 7ch;
}

.mt-6.page-unlinked {
  display: none;
}
